body {
    font-family: "CocogoosePro", Sans-serif;
    src: url(../asset/font/Cocogoose\ Pro\ Regular\ Trial.ttf);
}

/* =========================================================== */
/* Body */
/* =========================================================== */

.coverImage {
    position: relative;
    min-height: 619px;
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
}

.bodyHeader{
    padding: 100px 0 100px 0;
    box-sizing:border-box ;
}
.bodyHeader .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bodyHeader .container h2{
    color: var(--prime3);
    font-size: 32px;
    font-weight: 700 ;
    line-height: 1.4em;
    margin-bottom: 1rem !important;
}

.bodyHeader .container p{
    text-align: center;
    color: var(--prime2);
    overflow-wrap: break-word;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4em;
    width: 75%;
}


.servicesSelect {
    padding: 100px 0 100px 0;
    background-color: #F5F5F5;
}

.servicesSelect .card-body{
    color: white;
    padding: 50px !important;
    height: calc(100% - 250px) !important;
    background-color: var(--prime1);
}

.servicesSelect .card-img-top{
    height: 250px !important;
}

.servicesSelect .card-body >h2{
    font-weight: 700 !important;
    line-height: 42px;
}


.servicesSelect .card-body >div{
    font-size: 20px;
    font-weight: 400 !important;
    overflow-wrap: break-word;
}

.servicesSelect .card-body div>*{
    margin-bottom: 10px !important;
}

.servicesSelect .card-body a{
    display: inline-block;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: var(--prime3);
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 40px !important;
    text-decoration: 0;
    font-size: 20px;
    font-weight: 700 !important;
    margin-top: 40px !important;
}

.servicesSelect .card-body a:hover{
    color: var(--prime2);
}

.servicesSelect .card-body >*{
    margin-bottom: 1rem !important;
}
.promo{
    box-sizing: border-box;
}
.promo_info {
    height: 500px;
    color: #FFFFFF;
    background-color: var(--prime3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
} 

.promo_info .container h1{
    font-weight: 700;
    line-height: 42px;
}

.promo_info .container p{
    font-size: 22px;
    font-weight: 600;
    line-height: 42px;
    
}

.promo a{
    display: inline-block;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: var(--prime4);
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 40px !important;
    text-decoration: 0;
    font-size: 20px;
    font-weight: 700 !important;
    margin-top: 40px !important;
    width: fit-content;
}

.promo_img img{
    object-fit: cover;
    object-position: center;
    height: 500px;
    width: 100%;
    border: none;
    margin: 0 !important;
}