/* ----------------------------------------------------------
    Setting Color
   ----------------------------------------------------------*/
   :root{
    --black: #000000;
    --black-light:#242424;    
    --prime1: #F1744F;
    --prime2: #26428E;
    --prime3: #5CB55D;
    --prime4: #FFAA00;
    --white: #ffffff;
    --gray: #f0f0f0b0;
}

/* ----------------------------------------------------------
    Custom Property
----------------------------------------------------------*/

/* Scroll Bar Custom */
/* ::-webkit-scrollbar {
width: 5px !important;   
}

::-webkit-scrollbar-track {
background: var(--black-light); 
margin: 2rem 0 2rem 0 !important;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: var(--gray);
border-radius: 10px;
} */

/* Customize the Range Input */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .slide .slide-range input[type='range'] {
      overflow: hidden;
      height: 30px;
      -webkit-appearance: none;
      background-color: var(--white);
    }
    
    .slide .slide-range input[type='range']::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 30px;
      color: var(--prime1);
    }
    
    .slide .slide-range input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 30px;
      cursor: ew-resize;
      background: var(--white);
      color: var(--prime1);
    }

    .slide .slide-range input::-moz-range-thumb{
        width: 30px;
        height: 30px;
        background: var(--black-light);
        border: 2px solid var(--white);
        cursor: pointer;
    }

}



@font-face {font-family:"COCOGOOSE";src:url("/asset/font/Cocogoose_trial.eot") format("eot"),url("/asset/font/Cocogoose_trial.woff") format("woff"),url("/asset/font/Cocogoose_trial.ttf") format("truetype"),url("/asset/font/Cocogoose_trial.svg") format("svg");font-weight:normal;font-style:normal;}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family:'COCOGOOSE';
}
div{
    display: block;
}

/* Donate */
#donate{
    height: 56px; color: white;
    width: 180px;
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    z-index: 99999;
    box-shadow: 2px 10px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}

/* Header */
header{
    z-index: 1;
    box-shadow:0px 2px 5px rgb(0 0 0 / 10%);
}
.logo{
    display: grid;
    place-content: center;
}
.logo > img{
    width: 100%;
}
.mynavbar{
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
}
.pos{
    width: fit-content;
    display: flex; justify-content: flex-end;
    align-items: center;
}
header ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-template-rows: 1fr;
    margin-bottom: 0!important;
    list-style-type: none;
}
header ul > li {
    display: grid;
}
.navbar-nav{
    flex-direction: row !important;
}
header a {
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
    border-radius: 0.25rem;
    color: var(--black);
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}
header a > i {
    margin-right: 0.5rem;
    color: #008aff;
    font-size: 1rem;
    transition: color 250ms ease-out;
}
header a:hover {
    color: red !important;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    background-color: transparent;
    border: none;
    padding: 0.4rem;
    border: none;
    display: flex; 
}
.dropdown-content{
    display: none;
    position: absolute;
    max-width: 300px; width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {
    display: block; perspective: 1000px;
}
.dropdown:hover .dropbtn{
    background-color: transparent; color: var(--red);
}
.dropdown:hover .dropbtn{
    color: red;
}
.dropdown:hover .dropdown-content a{
    transform-origin: top center;
    opacity: 0;
}
.dropdown:hover .dropdown-content a:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
}
.dropdown:hover .dropdown-content a:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
}
.dropdown:hover .dropdown-content a:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
}
.dropdown:hover .dropdown-content a:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
}
.dropdown:hover .dropdown-content a:nth-child(5){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 450ms;
}
.dropdown:hover .dropdown-content a:nth-child(6){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 600ms;
}
.dropdown:hover .dropdown-content a:nth-child(7){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 750ms;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50%{
        transform: rotateX(20deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg);
    }
}
#nav-toggle-label {
    display: none;
    cursor: pointer;
}
#nav-toggle {
    display: none;
}
@keyframes mymove{
    to {right: 0; top: 0;}
}

@media screen and (max-width: 1078px) {
    header {
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 24rem;
        right: 0rem;
        padding-top: 3rem;
        clip-path: circle(calc(3rem / 3)
          at 
          calc(100% - 3rem / 2) 
          calc(0% + 3rem / 2));
        box-shadow: -2px 2px 8px 0px rgb(0 0 0 / 80%);
        transition: clip-path 500ms ease-out, background-color 500ms ease-out;
    }
    header ul {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-rows: max-content;
        gap: 0.5rem;
        padding: 0;
    }
    header a {
        place-content: flex-start;
        padding: 0.5rem 1.5rem;
    }
    header a > i {
        color: #2b2b2b;
    }
    header a:hover {
        background-color: #2b2b2b;
    }
    header a:hover > i {
        color: #008aff;
    }
    #nav-toggle:checked + * + nav {
        clip-path: circle(150vmax at 100% 0%);
        background: linear-gradient(300deg, #ba4aff, rgba(186, 74, 255, 0) 70%), 
        linear-gradient(227deg, #008aff, rgba(0, 138, 255, 0) 70%),
        linear-gradient(104deg, #00ffc6, rgba(0, 255, 198, 0) 74%);
        background-color: #2b2b2b;
    }
  
    #nav-toggle-label {
        --size: calc(3rem / 3);
        --bar-height: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: auto;
        width: var(--size);
        height: var(--size);
        margin-right: calc(3rem / 3);
        z-index: 2;
    }
  
    #nav-toggle-label .bar {
        display: inline-block;
        height: var(--bar-height);
        width: 100%;
        background-color: #2b2b2b;
        transition: transform 0.5s ease-out;
    }
    #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(1) {
        transform: translate(0, calc(var(--size) / 2 - var(--bar-height) / 2)) 
        rotate(225deg);
    }
  
    #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(2) {
        transform: scaleX(0);
    }
    #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(3) {
        transform: translate(0, calc(-1 * var(--size) / 2 + var(--bar-height) / 2)) 
        rotate(135deg);
    }
    #nav-toggle:checked ~ #mybtn{
        display: none !important;
    }
    .navbar-nav{
        flex-direction: column !important;
    }
    .dropdown:hover .dropdown-content {
        display: block; background-color: transparent;
        position: relative;
    }
}
@media screen and (max-width: 468px){
    .pos .btn{
        display: none !important;
    }
}
span.support{
    font-size: 1rem;
}


/* welcome */
.welcome {
    padding: 10px 0px 0px 0px;
    position: relative;
}
.welcome .welcometext{
    height: 80px; position: relative; overflow: hidden;
}
.welcometext h3{
    position: relative; width: 100%; height: 100%;
    font-weight: 600;
    line-height: 80px; text-align: center;
    transform: translateX(100%);
    animation: welcometext 20s linear infinite;
    animation-iteration-count: infinite;
}
@keyframes welcometext {
    0%   { 
    -moz-transform: translateX(100%); 
    -webkit-transform: translateX(100%);
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%); 
    transform: translateX(-100%); 
    }
}

/* Body */
/* CoverImage */

.coverImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%; height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.triangle{
    width: 900px; height: 500px;
    display:block; right: 0; bottom: 0;
    overflow: hidden;
}
.triangle-content{
    left: 35%; position: absolute;
    width: 40%; bottom: 0; text-align: center; z-index: 2;
}
.triangle-content h3{
    overflow-wrap: break-word; 
}
.triangle-title{
    color: #26428E;
    font-size: 31px; font-weight: 750; text-transform: uppercase;
    line-height: 2.25rem; bottom: 8px;
    margin: 0; min-width: 150px;
}
.triangle-bgr{
    left: 27%; right: 18%; width: 50%; height: 100%;
    position: absolute; bottom: -60%;
    transform: rotate(45deg) ;
    z-index: 1;
}
.triangle-bgr-border {
    left: 27%; right: 18%; width: 50%; height: 100%;
    position: absolute; bottom: -60%;
    transform: rotate(45deg) ;
    z-index: 0; border-top-left-radius: 1px;
    box-shadow: 0 0 0 50px rgb(255 255 255 / 50%);
}
@media screen and (max-width: 768px){
    .triangle{
        width: 100%; height: 100%;
    }
    .triangle-title{
        bottom: 0px; font-size: 150%;
    }
    .triangle-content{
        left: 45%;
    }
    .triangle-bgr, .triangle-bgr-border{
        width: 55%; left: 15%;
    }
}
/* Intro */
.Intercept{
    padding: 100px 0px 100px 0px;
}
.Intercept .intro{
    text-align: center; 
    margin-bottom: 15px; width: 100%;
}
.intro-title{
    font-family: "Cocogoose", sans-serif; font-size: 28px; font-weight: bold;
    line-height: 2.25rem; padding: 0; margin: 0; overflow-wrap: break-word;
}

/* Product card */
.boxalign {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.1rem;
    justify-self: center;
}
.boxpos {
    width: 100%;
    display: flex; justify-content: flex-start;
    flex-direction: column;
}
.triangle-info-bgr{
    left: 25%; right: 20%; width: 50%; height: 100%;
    position: absolute; bottom: -50%;
    transform: rotate(45deg) ;
    z-index: 1;
}
.triangle-info-bgr-border {
    left: 25%; right: 20%; width: 50%; height: 100%;
    position: absolute; bottom: -50%;
    transform: rotate(45deg) ;
    z-index: 0; border-top-left-radius: 1px;
    box-shadow: 0 0 0 25px rgb(255 255 255 / 50%);
}
.info-triangle{
    position: absolute; overflow: hidden; display: inline-block;
    right: 0; width: 300px; height: 150px; top: auto; bottom: 100%;
    z-index: 1;
}
.infobox{
    padding: 20px; height: auto !important; color: white;
}
.infobox-title{
    overflow-wrap: break-word;
}
.infobox-content{
    margin: 0; padding-bottom: 15px; font-family: 'CocogoosePro';
}

/* Change Maker */
.change-maker{
    background-color: #F1744F;
    border-radius: 23px;
    padding: 33px 10px 33px 10px;
    display: flex; width: 100%; align-content: flex-start;
    flex-wrap: wrap; justify-content: center;
}
.logomaker{
    display: flex; align-content: center; align-items: center; width: 30%;
    min-height: 1px; padding: 10px; flex-wrap: wrap; min-width: 325px;
    justify-content: center;
}
.logomaker img{
    height: fit-content; min-width: 250px; width: fit-content; max-height: 250px;
    display: flex;
}
.change-maker-info{
    color: white; max-width: 70%;
    display: flex; align-items:flex-start; 
    padding: 10px; flex-wrap: wrap; flex-direction: column;
}
@media screen and (max-width: 1200px){
    .change-maker-info{
        max-width: 88%;
    }
}

/* Upcoming events */
.up-events{
    display: flex; flex-wrap: nowrap; justify-content: space-between;
    width: 100%;
}
@media screen and (max-width: 1200px){
    .up-events{
        flex-wrap: wrap; justify-content: center;
    }
}
.wrapper{
    padding-top: 10px; width: 100%;
}
.wrapper .search-input{
    position: relative; width: 100%;
    border-radius: 5px; 
}
.search-input input{
    height: 35px; width: 100%; outline: none; border: none;
    border-radius: 5px; padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.search-input.active input{
    border-radius: 5px 5px 0 0;
}
.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.search-input.active .autocom-box li{
    display: block; 
    font-size: medium;
}
.icon{
    height: 35px; width: 35px; line-height: 35px; top: 0; right: 0;
    position: absolute; font-size: 20px; text-align: center;
    border-radius: 5px;
    border-bottom-left-radius: 0px; border-top-left-radius: 0px;
    background-color: transparent;
    cursor: pointer;
}
.search-input .autocom-box{
    max-height: 280px; overflow-y: auto;
    opacity: 0; pointer-events: none;
}

.autocom-box li{
    list-style: none; display: none;
    padding: 8px 12px; width: 100%; cursor: default;
    border-radius: 3px;
}
.autocom-box li:hover{
    background-color: #f5f5f5;
}

/* Volunteer */
.volunteer{
    width: 100%; height: auto;
    display: flex; background-color: #FFAA00;
    justify-content: center; align-items: center; align-content: center;
}
.volunteer .volunteer-sort{
    height: auto; width: 100%;
    display: flex;
    flex-flow: row-reverse;
}
.volunteer-img{
    width: 50%; object-fit: cover; object-position: center;
    height: auto; overflow: hidden;
}
.volunteer-sort .volunteer-content{
    width: 50%; background-color: #FFAA00;
    display: flex; flex-wrap: wrap; align-content: center; align-items: center;
    height: auto; padding: 50px; z-index: 1;
}
.volunteer-triangle{
    bottom: 25%; left: calc(100% - 50px); width: 200px; height: 100px; right: 0;
    transform: rotate(90deg); overflow: hidden;
    position: absolute; top: auto; z-index: 0;
    display: block;
}
.volunteer-title{
    margin: 0 0 15px; font-family: "Cocogoose", Sans-serif;
    font-size: 38px; font-weight: 500; line-height: 42px; overflow-wrap: break-word;
    color: #26428E; z-index: 0;
}
.volunteer-triangle-bgr{
    position: absolute; bottom: -50%; right: 20%; width: 50%; height: 100%;
    transform: rotate(45deg) skewX(-5deg) skewY(-5deg); z-index: 0;
    background: #FFAA00;
    box-shadow: 0 0 0 10px rgb(255 255 255 / 50%);
}

@media screen and (max-width: 768px){
    .volunteer .volunteer-sort{
        flex-flow: column !important;
    }
    .volunteer-img{
        width: 100%;
    }
    .volunteer-sort .volunteer-content{
        width: 100%; padding: 26px;
    }
    .volunteer-triangle{
        width: 200px; height: 100px; right: 5%; bottom: 100%; left: inherit;
        transform: rotate(0deg);
    }
}

/* Stay Connect */
.insta{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    -webkit-text-fill-color: transparent;
    color: #ffffff;
}
.stay-c{
    display: flex; width: 100%;
    align-items: center; align-content: center; justify-content: center;
}
@media screen and (max-width: 768px){
    .stay-c{
        flex-direction: column;
    }
}

/* Footer */
footer{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.new_footer_area {
    background: linear-gradient(300deg, #ba4aff, rgba(186, 74, 255, 0) 70%), 
    linear-gradient(227deg, #008aff, rgba(0, 138, 255, 0) 70%),
    linear-gradient(104deg, #00ffc6, rgba(0, 255, 198, 0) 74%);
}
footer a, footer p{
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: larger;
    overflow-wrap: break-word;
    font-family: "CocogoosePro";
}

.new_footer_top {
    padding: 120px 0px;
    position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {

    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom .container .row p{
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    color: #26428E;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: red;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.row .f_widget button:hover{
    background:#e6683c !important;
}
.new_footer_top .f-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFAA00;
    font-size: x-large;
}
.f_600 {
    font-weight: 600;
}
.footer_bottom .container .row{
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 768px){
    .footer_bottom .container .row{
        justify-content: center;
        flex-direction: column;
    }
}
