.volunteer_intro{
    max-width: 870px;
    margin: auto;
    text-align: center;
}
.volunteer_intro p{
    font-family: 'Roboto', sans-serif;font-size: 19px;color: #26428E;
    font-weight: 600;
}
.ways_container{
    background-color: #f5f5f5;
    padding: 100px 100px 50px;
    text-align: center;
}
.item-meet{
    width: 25%;
}
.meet-content{
    font-size: 16px;
}
.volunteer-triangle{
    bottom: 25%; width: 200px; height: 100px;
    transform: rotate(-90deg); 
    /* left: auto; right: calc(100% - 50px); */
    overflow: hidden;
    position: absolute; top: auto; z-index: 0;
    display: block;
}
.volunteer-triangle-bgr{
    display: block;
    position: absolute; top: -50%; left: 20%; width: 50%; height: 100%;
    transform: rotate(45deg) skewX(-5deg) skewY(-5deg); z-index: 0;
    background: #FFAA00;
    box-shadow: 0 0 0 10px rgb(255 255 255 / 50%);
}
#nbr1, #nbr2, #nbr3, #nbr4{
    color: #F1744F; font-size: 3.5rem;
}
@media screen and (max-width:1200px){
    .ways_container{
        padding: 100px 0;
    }
}
@media screen and (max-width:768px){
    .about-us{
        flex-direction: column;
    }
    .volunteer-triangle{
        transform: rotate(180deg);
        bottom: 100%;
    }
    .item-meet{
        width: 100%;
    }
}